/* Change le modèle de boite par défaut */
* {
    box-sizing: border-box;
}

/* Scroll fluide pour les ancres */
html {
    scroll-behavior: smooth;
}

/* Sélection de texte personnalisée */
::selection {
    background-color: var(--toniqueLight);
}

body {
    font-family: var(--font-family-sora);
    font-size: var(--font-size-16);
    color: var(--color-primary-500);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1,
h2 {
    font-family: var(--font-family-kanit);
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--color-dark);
    margin: 0 0 0.5rem 0;
}

h1 {
    font-size: var(--font-size-60);
    line-height: 1.1;
}

h2 {
    font-size: var(--font-size-45);
    line-height: 1.1;
}

h3 {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-30);
    line-height: 1.1;
    color: var(--color-dark);
    letter-spacing: -0.03rem;
    margin: 0 0 0.5rem 0;
}

/* Paragraphs & base text */
p,
ul,
ol {
    font-family: var(--font-family-sora);
    font-size: var(--font-size-16);
    line-height: 1.4;
    color: var(--color-primary-500);
    margin: 0 0 1rem 0;
}

/* Small / captions */
small,
.text-small {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-14);
    line-height: 1.4;
    letter-spacing: 0.03rem;
    color: var(--color-primary-400);
}

/* Button text style */
.btn-text,
button[type="submit"],
button {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-12);
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 500;
}

/* Links inside main content */
main a {
    color: var(--color-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary-300);
    transition: all 0.3s ease;
}

main a:hover {
    border-bottom-color: var(--color-primary-500);
}

/* Enlève l'apparence par défaut des boutons, input, select */
button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}


/* --- CLASSES UTILITAIRES --- */

/* Pour enlever l'apparence par défaut des listes */
.u-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Pour rendre invisible mais laisser accessible */
.u-sr-only {
    position: absolute !important;
    inline-size: 1px;
    /* width logique */
    block-size: 1px;
    /* height logique */
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    /* évite le retour à la ligne */
    border: 0;

    /* Masquage moderne + fallback */
    clip-path: inset(50%);
}

.u-noscroll {
    overflow: hidden;
}

.u-highlight {
    color: var(--tonique-light);
}

.u-intro {
    font-size: var(--text-2xl);
    color: var(--dark);
    font-weight: 600;
}

.u-grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2xl);
}