
* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


::selection {
    background-color: var(--toniqueLight);
}

body {
    font-family: var(--font-family-sora);
    font-size: var(--font-size-16);
    color: var(--color-primary-500);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1,
h2 {
    font-family: var(--font-family-kanit);
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: var(--color-dark);
    margin: 0 0 0.5rem 0;
}

h1 {
    font-size: var(--font-size-60);
    line-height: 1.1;
}

h2 {
    font-size: var(--font-size-45);
    line-height: 1.1;
}

h3 {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-30);
    line-height: 1.1 rem;
    color: var(--color-dark);
    letter-spacing: -0.03rem;
    margin: 0 0 0.5rem 0;
}


p,
ul,
ol {
    font-family: var(--font-family-sora);
    font-size: var(--font-size-16);
    line-height: var(--line-height-140);
    color: var(--color-primary-500);
    margin: 0 0 1rem 0;
}


small,
.text-small {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-14);
    line-height: 1.4;
    letter-spacing: 0.03rem;
    color: var(--color-primary-400);
}


.btn-text,
button[type="submit"],
button {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-12);
    line-height: 1.4;
    letter-spacing: 0;
    font-weight: 500;
}


main a {
    color: var(--color-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary-300);
    transition: all 0.3s ease;
}

main a:hover {
    border-bottom-color: var(--color-primary-500);
}


button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}


.u-list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}


.u-sr-only {
    position: absolute !important;
    inline-size: 1px;
    block-size: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    border: 0;

    clip-path: inset(50%);
}

.u-noscroll {
    overflow: hidden;
}

.u-highlight {
    color: var(--tonique-light);
}

.u-intro {
    font-size: var(--text-2xl);
    color: var(--dark);
    font-weight: 600;
}

.u-grid-col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-2xl);
}

