/* Variable collection */
:root {
    /* Couleurs */
    --color-accent-100: #2284ff;
    --color-accent-200: #0743b6;
    --color-accent-300: #0e234c;
    --color-primary-100: #faf7f7;
    --color-primary-200: #f1f1f1;
    --color-primary-300: #b6b9be;
    --color-primary-400: #555658;
    --color-primary-500: #2e2f31;
    --color-dark: #000000;
    --color-light: #ffffff;

    /* Police de caractère */
    --font-family-kanit: "Kanit", sans-serif;
    --font-family-sora: "Sora", sans-serif;

    /* Taille de texte */
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-16: 1rem;
    --font-size-30: 1.875rem;
    --font-size-45: 2.8125rem;
    --font-size-60: 3.75rem;

    /* Graisse de texte */
    --font-weight-regular: 25rem;
    --font-weight-medium: 31.25rem;
    --font-weight-semibold: 37.5rem;
    --font-weight-bold: 43.75rem;

    /*Espacement*/
    --letter-spacing--2: -0.125rem;
    --letter-spacing--1: -0.0625rem;
    --letter-spacing-0: 0rem;
    --letter-spacing-2: 0.125rem;
    --letter-spacing-3: 0.1875rem;
    --line-height-110: 6.875rem;
    --line-height-140: 8.75rem;
    --list-spacing-0: 0rem;
    --paragraph-indent-0: 0rem;
    --paragraph-spacing-0: 0rem;
    --paragraph-spacing-20: 1.25rem;

    /* Bordures et ombres */

}


