.artist-card {
    background-color: var(--color-light);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px;
    border-radius: 0.5625rem;
}

.artist-card__img {
    width: 100%;
    height: 280px;
    overflow: hidden;
    border-radius: 0.5625rem 0.5625rem 0 0;
}

.artist-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.5s ease;
}

.artist-card__content {
    padding: 1rem 1.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.artist-card__name {
    font-family: var(--font-family-kanit);
    font-size: 1.15rem;
    font-weight: 600;
    color: var(--color-dark);
    line-height: 1.1;
    margin: 0;
}

.artist-card__date {
    font-family: var(--font-family-sora);
    font-size: 0.8rem;
    color: var(--color-primary-400);
    line-height: 1.3;
    margin: 0;
}

.artist-card__dates {
    font-family: var(--font-family-sora);
    font-size: 0.8rem;
    color: var(--color-primary-400);
    line-height: 1.3;
    margin: 0;
}

.artist-card__btn {
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1rem;
    padding: 1rem 1.5rem;
    background: var(--color-accent-200);
    color: var(--color-light);
    font-weight: 600;
    text-transform: uppercase;
    margin: 0.75rem 0rem 1.25rem;
    width: 60%;
}

.artist-card__arrow {
    font-size: 1.5rem;
}