.intro {
    max-width: 68.75rem;
    margin: 0 auto;
    padding: 5rem 2rem;
    text-align: start;
}

.intro__title {
    font-family: var(--font-family-kanit);
    font-weight: 600;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--color-accent-300);
}

.intro__text {
    font-family: var(--font-family-sora);
    font-size: 1.125rem;
    line-height: 1.8;
    margin-bottom: 2.25rem;
    color: var(--color-dark);
    text-align: start;

}

.intro__image {
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: auto;
    margin: 2rem calc(50% - 50vw);
}