/* Component: intro-template
   BEM block: .intro-template
*/

.intro-template {}

.intro-template__title {}

.intro-template__content {}

.intro-template__socials {}

.intro-template__social-item {}

.intro-template__social-link {}

/* Intro block (homepage) */
.intro-template {
    padding: 2.5rem 1.25rem;
    max-width: 820px;
    margin: 0 auto;
    text-align: left;
}

.intro-template__content {
    font-family: var(--font-family-sora);
    font-size: var(--font-size-16);
    line-height: 1.6;
    color: var(--color-primary-500);
    margin-bottom: 1.25rem;
}

.intro-template__title {
    font-family: var(--font-family-kanit);
    font-weight: 600;
    font-size: var(--font-size-45);
    color: var(--color-accent-200);
    text-align: center;
    margin-top: 1rem;
}