.localisation {
    padding: 1.35rem 1.9rem 1.35rem 1.05rem;
    margin: 4rem 4rem 4rem 2.5rem;
    position: relative;
    max-width: 34rem;
    margin-right: auto;
}

.localisation__title {
    font-family: var(--font-family-kanit);
    margin-bottom: 1.25rem;
    color: var(--color-dark);
}

.localisation__text {
    color: var(--color-primary-500);
    line-height: 1.6;
}

.localisation__text::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    top: 0.4rem;
    bottom: 0.4rem;
    width: 2px;
    background: var(--color-primary-400);
    border-radius: 2px;
}

.localisation__image {
    display: block;
    width: 100vw;
    max-width: 100vw;
    height: auto;
}