.program__filters {
    background: var(--color-primary-200);
    padding: 1.5rem;

}

.program-search {
    margin-bottom: 1.5rem;

}

.program-search__label {
    display: none;
}

.program-search__input {
    width: 100%;
    padding: 0.625rem 0.75rem;
    border: 0.15rem solid var(--color-primary-300);
    border-radius: 0.375rem;
    font-size: var(--font-size-14);
    font-family: var(--font-family-kanit);
    color: var(--color-primary-300);
}

.program-days {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.program-days__button {
    padding: 0.5rem 1.125rem;
    background: var(--color-primary-200);
    border-radius: 0.5rem;
    color: var(--color-primary-400);
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-14);
    border: 0.15rem solid var(--color-primary-300);
}

.program-days__button--active {
    background: var(--color-accent-200);
    color: var(--color-light);
    border-color: var(--color-accent-200);
}

.program-days__add {
    padding: 0.5rem 1rem;
    font-size: var(--font-size-16);
    border-radius: 10rem;
    border: 0.15rem solid var(--color-primary-300);
    background: var(--color-primary-200);
    cursor: pointer;
}

.program__day {
    padding: 2.8125rem 1.125rem;
    background: var(--color-light);
}

.program__day-title {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-30);
    font-weight: 700;
    color: var(--color-accent-300);
    text-align: center;
    margin-bottom: 1.625rem;
}

.program__day--background {
    padding: 2.8125rem 1.125rem;
    background: var(--color-accent-200);
}

.program__day-title--light {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-30);
    font-weight: 700;
    color: var(--color-light);
    text-align: center;
    margin-bottom: 1.625rem;
}

.program-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.program-download {
    background: var(--color-accent-100);
    padding: 0rem 1.375rem;
    padding-top: 4rem;
    padding-bottom: 7rem;
    color: var(--color-light);
}

.program-download__content {
    max-width: 30rem;
    margin-left: 0 auto;
}

.program-download__text {
    font-family: var(--font-family-kanit);
    color: var(--color-light);
    font-size: var(--font-size-16);
    line-height: 1.5;
    margin-bottom: 1.125rem;
}

.program-download__link {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0;
    text-decoration: none;
    color: var(--color-light);
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-16);
}

.program-download__link img {
    width: 2.5rem;
    height: auto;
}

.program-download__text:last-of-type::after {
    content: "";
    display: block;
    width: 100%;
    height: 0.125rem;
    background: var(--color-light);
    margin-top: 0.75rem;
}