.tarifs__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}

.tarifs__card {
    background: var(--color-accent-100);
    max-width: 20rem;
    text-align: center;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.625rem var(--color-primary-300);
}

.tarifs__card-title {
    font-weight: var(--font-weight-400);
    color: var(--color-light);
    margin-bottom: 1rem;
    margin-top: 1rem;
    position: relative;
    text-align: center;
}

.tarifs__card-title::after {
    content: "";
    display: block;
    width: 90%;
    height: 0.2rem;
    background: var(--color-light);
    opacity: 1;
    margin: 0.625rem auto 0;
}

.tarifs__card-subtitle {
    font-size: var(--font-size-40);
    color: var(--color-light);
}

.tarifs__price {
    margin-top: 0.875rem;
}

.tarifs__amount {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-700);
    color: var(--color-light);
}

.tarifs__currency {
    font-size: var(--font-size-60);
    font-weight: var(--font-weight-700);
    color: var(--color-light);
}

.tarifs__info--background {
    background: var(--color-accent-100);
    padding: 1.5rem 1.75rem;
    margin-top: 4rem;
    border-radius: 0rem;
    text-align: center;
}

.tarifs__info--background::after {
    content: "";
    display: block;
    width: 90%;
    height: 0.2rem;
    background: var(--color-light);
    opacity: 1;
    margin: 0rem auto 0;
}

.tarifs__free {
    color: var(--color-light);
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-40);
    font-weight: var(--font-weight-700);
    margin: 0rem;
}