.team {
    padding: 3.125rem 1.25rem;
    background: var(--color-primary-500);
}

.team__title {
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-30);
    font-weight: 500;
    color: var(--color-light);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.875rem;
}

.team__carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 0.9375rem;
}

.team__track {
    display: flex;
    gap: 1.375rem;
}

.team__slide {
    scroll-snap-align: start;
    flex: 0 0 18rem;
}

.team-card {
    background: var(--color-primary-400);
    border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0 0.25rem 1rem var(--color-primary-500);
}

.team-card__image img {
    width: 100%;
    height: 16.25rem;
    object-fit: cover;
    display: block;
}

.team-card__body {
    padding: 1rem 0.875rem 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.team-card__name {
    color: var(--color-light);
    font-family: var(--font-family-kanit);
    font-size: var(--font-size-18);
    font-weight: var(--font-weight-400);
    margin: 0;
    position: relative;
    padding-bottom: 0.25rem;
}

.team-card__name::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background: var(--color-primary-300);
}


.team-card__description {
    color: var(--color-primary-200);
    font-size: var(--font-size-14);
    line-height: 1.5;
    margin: 0;
}


.team-card__socials {
    margin-top: 0.625rem;
    display: flex;
    gap: 0.875rem;
    align-items: center;
    list-style: none;
    padding: 0rem 1rem;
}

.team-card__social-link img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
}