.transport__list {
    display: flex;
    flex-direction: column;
    gap: 4.5rem;
}

.transport__media {
    width: 100%;
    height: auto;
    border-radius: 0.65rem;
    overflow: hidden;
}

.transport__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.transport__description {
    margin-top: 1rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    color: var(--color-light);
}