
.value {
    background-color: var(--color-primary-500);
    padding: 1.35rem 1.9rem 1.35rem 1.05rem;
    margin-left: 4rem;
    position: relative;
    max-width: 34rem;
    margin-right: auto;
}

.value__title {
    font-family: var(--font-family-kanit);
    color: var(--color-light);
    margin-bottom: 0.5rem;
}

.value__title::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
    width: 0.15rem;
    background: var(--color-primary-400);
    border-radius: 2px;
}

.value__text {
    color: var(--color-primary-300);
    line-height: 1.6;
}

.value__text::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    padding-top: 0rem;
    padding-bottom: 8rem;
    width: 0.15rem;
    background: var(--color-primary-400);
    border-radius: 2px;
}