.value-apropos {
    background-color: var(--color-light);
    padding: 1.35rem 1.9rem 1.35rem 1.05rem;
    margin-left: 4rem;
    position: relative;
    max-width: 34rem;
    margin-right: auto;
}

.value-apropos__title {
    font-family: var(--font-family-kanit);
    color: var(--color-accent-300);
    margin-bottom: 0.5rem;
}

.value-apropos__title::before {
    content: "";
    position: absolute;
    left: 0.4rem;
    padding-top: 0rem;
    padding-bottom: 3rem;
    width: 0.15rem;
    background: var(--color-dark);
    border-radius: 2px;
}

.value-apropos__text {
    color: var(--color-primary-500);
    line-height: 1.6;
}

.value-apropos__text::before {
    content: "";
        position: absolute;
        left: 0.4rem;
        padding-top: 0rem;
        padding-bottom: 8rem;
        width: 0.15rem;
        background: var(--color-dark);
        border-radius: 2px;
}