/* vendors */ 
@import "vendors/normalize.css";    


/* utils */
@import "utils/variables.css";


/* base */
@import "base/main.css";    
@import "base/media.css";


/* layout */
@import "layout/header.css";    
@import "layout/footer.css";
@import "layout/section.css";


/* components */
@import "components/button.css";    
@import "components/hero-about.css";  
@import "components/menu.css";
@import "components/newsletter.css";
@import "components/team.css";
@import "components/values.css";
